.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


#cards-container .MuiTypography-colorTextSecondary {
  color: rgba(255, 255, 255, 0.7);
}

.MuiButton-label {
  color: white;
}

img.map-icon {
  width: 30px;
  height: 30px;
}

.map-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.map-description span {
  width: 30%;
}

.input-line {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 60%;
  margin: auto;
  margin-bottom: 24px;
}

.green {
  color: #6dff6d;
}

.red {
  color: rgb(255, 92, 92);
}

#add-button {
  position: absolute;
  right: 140px;
  bottom: 65px;
}

#remove-button {
  position: absolute;
  right: 10px;
  bottom: 65px;
}

form {
  position: relative;
}